services:
  postgres:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: myapp
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d

  app:
    build: ../app
    ports:
      - "5000:5000"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: myapp
      DB_USER: myuser
      DB_PASSWORD: mypassword
    depends_on:
      - postgres
    restart: unless-stopped

  node_exporter:
    image: quay.io/prometheus/node-exporter:v1.7.0
    ports:
      - "9100:9100"
    command:
      - '--path.rootfs=/host'
    pid: host
    volumes:
      - '/:/host:ro,rslave'

  postgres_exporter:
    image: quay.io/prometheuscommunity/postgres-exporter:v0.13.0
    environment:
      DATA_SOURCE_NAME: "postgresql://myuser:mypassword@postgres:5432/myapp?sslmode=disable"
    depends_on:
      - postgres

  prometheus:
    image: prom/prometheus:v2.47.0
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    depends_on:
      - app
      - node_exporter
      - postgres_exporter
  grafana:
    image: grafana/grafana:12.1
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
volumes:
  pg_data:
  grafana_data:
